body {
    font-size: 12px;
}

h1 {
    font-size: 32px; /* Alrededor de 36px */
    font-weight: bold;
    color: #000000; /* Color de texto predeterminado */
}

h2 {
    font-size: 28px; /* Alrededor de 32px */
    font-weight: bold;
}

h3 {
    font-size: 26px; /* Alrededor de 28px */
    font-weight: bold;
}

p {
    color: #000000;
    font-size: 24px; /* 14px (tamaño base) */
    line-height: 1.5;
    margin-bottom: 1rem;
}
ul, li{
    font-size: 13.5px;
    color: #000000; /* Color de texto predeterminado */
}
/* Estilos adicionales */
.display-5 {
    font-size: 2.571em; /* Alrededor de 36px */
    font-weight: bold;
}

.lead {
    font-size: 16px; /* Alrededor de 16px */
    font-weight: normal;
    color: #000000; /* Color de texto predeterminado */
    margin-bottom: 1rem;
}

